{% extends 'miapp/base.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock title %}

{% block content %}
<body>
    <section class="content">
        <div class="wrapper">
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header p-2">
                                        <h1 class="card-title">Listado de Clientes Activos</h1>
                                    </div>
                                    <div class="card-body">
                                        {% if request.user.is_staff %}
                                            {% include 'miapp/includes/miapp_menu_cliente.html' %}
                                        {% endif %}
                                        
                                        {% if object_list %}
                                            <h2>Datos de Clientes</h2>
                                            <table id="datosClientes" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Cliente</th>
                                                        <th>Teléfono</th>
                                                        <th>Domicilio</th>
                                                        <th>Preferencia</th>
                                                        {% if request.user.is_staff %}
                                                            <th>Acciones</th>
                                                        {% endif %}
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for object in object_list %}
                                                        <tr>
                                                            <td>{{ object.id }}</td>
                                                            <td>{{ object.nombre }}</td>
                                                            <td>{{ object.telefono }}</td>
                                                            <td>{{ object.domicilio }}</td>
                                                            <td>{{ object.Preferencia|safe }}</td>
                                                            {% if request.user.is_staff %}
                                                                <td>
                                                                    <a href="{% url 'cliente_update' object.id %}" class="btn btn-sm btn-primary">Editar</a>
                                                                    <a href="{% url 'cliente_delete' object.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        {% else %}
                                            <p>No hay datos disponibles.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
  
        <!-- Contenido del cuerpo -->
    
        <!-- Incluye jQuery y Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
{% endblock content %}
