{% extends 'miapp/base_ventas.html' %}

{% block content %}
    <div class="container my-5">
        <h2 class="text-center mb-4">Perfil de Usuario</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% if usuario.profile_picture %}{{ usuario.profile_picture.url }}{% else %}{% endif %}" class="card-img-top" alt="Perfil">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ nombre_usuario }}</h5>
                        <p class="card-text">{{ usuario.email }}</p>
                        <p class="card-text text-muted">{{ usuario.username }}</p>
                        <a href="#" class="btn btn-primary">Editar Perfil</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <h4 class="card-title">Información de la Cuenta</h4>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li><strong>Nombre Completo:</strong> {{ nombre_usuario }}</li>
                            <li><strong>Nombre de Usuario:</strong> {{ usuario.username }}</li>
                            <li><strong>Correo Electrónico:</strong> {{ usuario.email }}</li>
                            <li><strong>Fecha de Creación de Cuenta:</strong> {{ usuario.date_joined|date:"d M Y" }}</li>
                            <li><strong>Última Actividad:</strong> {{ usuario.last_login|date:"d M Y, H:i" }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
