{% extends 'miapp/base_ventas.html' %}
{% load static %}

{% block title %}
    {{ producto.nombre }} - Detalle
{% endblock %}

{% block content %}
<main role="main" class="container my-5">
    <div class="row">
        <!-- Product Images -->
        <div class="col-lg-6 col-md-12 mb-4">
            <div class="product-gallery">
                <div class="main-image">
                    {% if producto.image1 %}
                        <img src="{{ producto.image1.url }}" alt="{{ producto.nombre }}" class="img-fluid">
                    {% else %}
                        <img src="{% static 'miapp/images/placeholder.png' %}" alt="Imagen no disponible" class="img-fluid">
                    {% endif %}
                </div>
                <div class="image-thumbnails mt-3">
                    {% for image in producto.image_set.all %}
                        <img src="{{ image.url }}" alt="{{ producto.nombre }}" class="img-thumbnail" onclick="changeImage(this)">
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Product Details -->
        <div class="col-lg-6 col-md-12">
            <div class="product-details">
                <h2>{{ producto.nombre }}</h2>
                <p class="text-muted">{{ producto.categoria }}</p>
                <h3 class="text-primary mb-3">${{ producto.precio }}</h3>
                <p>{{ producto.descripcion | safe }}</p>
                <p><strong>Duración:</strong> {{ producto.duracion }} días</p>

                <div class="d-flex justify-content-between mt-4">
                    {% if user.is_authenticated %}
                    <form action="{% url 'agregar_al_carrito' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="producto_id" value="{{ producto.id }}">
                            <div class="input-group mb-2">
                                <button type="button" class="btn btn-outline-secondary btn-sm adjust-quantity" data-action="decrease">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="number" name="cantidad" min="1" value="1" class="form-control text-center">
                                <button type="button" class="btn btn-outline-secondary btn-sm adjust-quantity" data-action="increase">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        <button type="submit" class="btn btn-primary btn-lg mt-2">
                            <i class="fas fa-cart-plus"></i> Añadir al Carrito
                        </button>
                    </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary btn-lg">
                            <i class="fas fa-cart-plus"></i> Iniciar sesión para Comprar
                        </a>
                    {% endif %}
                    <a href="{% url 'home_ventas' %}" class="btn btn-secondary btn-lg">
                        <i class="fas fa-arrow-left"></i> Volver a la lista
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

{% block extra_scripts %}
<!-- Custom JavaScript for image gallery -->
<script>
    function changeImage(element) {
        var mainImage = document.querySelector('.product-gallery .main-image img');
        mainImage.src = element.src;
    }
    // Ajusta la cantidad con los botones de suma y resta
    document.querySelectorAll('.adjust-quantity').forEach(function(button) {
        button.addEventListener('click', function() {
            var action = this.getAttribute('data-action');
            var quantityInput = this.closest('form').querySelector('input[name="cantidad"]');
            var currentValue = parseInt(quantityInput.value, 10);

            if (action === 'increase') {
                quantityInput.value = currentValue + 1;
            } else if (action === 'decrease' && currentValue > 1) {
                quantityInput.value = currentValue - 1;
            }
        });
    });







</script>
{% endblock %}
{% endblock %}
