{% extends 'miapp/base.html' %}
{% load static %}
{% block title %}
    {{ titulo }}
{% endblock title %}
{% block content %}
<section class="content">
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header p-2">
                                        <h1 class="card-title">Listado de Turnos Anotados</h1>
                                    </div>
                                    <div class="card-body">
                                    {% if object_list %}
                                    <!-- Mostrar datos de turnos -->
                                    <h2>Datos de Turnos Anotados</h2>
                                    <table id="datosTurnos" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Precio</th>
                                                <th>Duración</th>
                                                <th>Creación</th>
                                                <th>Actualización</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for object in object_list %}
                                                <tr>
                                                    <td>{{ object.id }}</td>
                                                    <td>{{ object.nombre }}</td>
                                                    <td>${{ object.precio }}</td>
                                                    <td>{{ object.duracion }} min</td>
                                                    <td>{{ object.created }}</td>
                                                    <td>{{ object.updated }}</td>
                                                    {% if request.user.is_staff %}
                                                    <td>
                                                        <a href="{% url 'producto_update' object.id %}" class="btn btn-sm btn-primary">Editar</a>
                                                        <a href="{% url 'producto_delete' object.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p>No hay datos disponibles.</p>
                                    {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</section>
{% endblock content %}
