{% extends 'miapp/base_ventas.html' %}
{% load static %}

{% block title %}
    {{ titulo }}
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">

                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'home_ventas' %}"><i class="fas fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active"><i class="fas fa-tag"></i> {{ object.nombre }}</li>
                        </ol>
                </div>

                <div class="row">
                    <!-- Product Images -->
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="product-gallery">
                            {% if producto.image1 %}
                                <img id="zoomImage" src="{{ producto.image1.url }}" alt="Imagen principal" class="img-fluid main-image" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal(0)">
                            {% endif %}
                        </div>
                        
                        <!-- Contenedor para las miniaturas -->
                        <div class="thumbnail-gallery d-flex mt-3">
                            {% if producto.image2 %}
                                <img src="{{ producto.image2.url }}" alt="Miniatura 1" class="img-fluid thumbnail-image" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal(1)">
                            {% endif %}
                            {% if producto.image3 %}
                                <img src="{{ producto.image3.url }}" alt="Miniatura 2" class="img-fluid thumbnail-image" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal(2)">
                            {% endif %}
                            {% if producto.image4 %}
                                <img src="{{ producto.image4.url }}" alt="Miniatura 3" class="img-fluid thumbnail-image" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal(3)">
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Product Details -->
                    <div class="col-lg-6 col-md-12">
                        
                        <div class="d-flex flex-column justify-content-between align-items-center mt-4">
                            {% if user.is_authenticated %}
                            <form action="{% url 'agregar_al_carrito' %}" method="post" style="width: 100%;">
                                {% csrf_token %}
                                <input type="hidden" name="producto_id" value="{{ producto.id }}">
                                <div class="input-group mb-2">
                                    <button type="button" class="btn btn-outline-secondary btn-sm adjust-quantity" data-action="decrease" onclick="decrementQuantity()">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <!-- Deshabilitar edición manual en el input de cantidad -->
                                    <input id="cantidad" type="text" name="cantidad" value="1" class="form-control text-center" readonly>
                                    <button type="button" class="btn btn-outline-secondary btn-sm adjust-quantity" data-action="increase" onclick="incrementQuantity()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-lg w-100 mt-3" style="border-radius: 30px; padding: 15px;">
                                    <i class="fas fa-cart-plus"></i> <span>Añadir al Carrito</span>
                                </button>
                            </form>
                            {% else %}
                                <a href="{% url 'login' %}" class="btn btn-primary btn-lg w-100 mt-3" style="border-radius: 30px; padding: 15px;">
                                    <i class="fas fa-sign-in-alt"></i> Iniciar sesión para Comprar
                                </a>
                            {% endif %}
                            <a href="{% url 'home_ventas' %}" class="btn btn-secondary btn-lg w-100 mt-3" style="border-radius: 30px; padding: 15px; display: flex; align-items: center; justify-content: center;">
                                <i class="fas fa-undo-alt" style="font-size: 22px; margin-right: 10px;"></i> <!-- Ícono de reinicio/retroceso -->
                                Volver
                            </a>
                            
                            
                            
                            
                        </div>
                        <div class="product-details">
                            <h2 class="mb-3">{{ producto.nombre }}</h2>
                            <p><strong>Duración:</strong> {{ producto.duracion }} Minutos</p>
                            <p class="text-muted"><i class="fas fa-cogs"></i> {{ producto.categoria }}</p>
                            <h3 class="text-primary mb-3"><i class="fas fa-dollar-sign"></i> {{ producto.precio }}</h3>
                            <p>{{ producto.descripcion | safe }}</p>
                            
                        </div>

                        
                    </div>

                    </div>
                </div>

                <!-- Modal for Image Preview -->
                <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">{{ producto.nombre }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="forceCloseModal()"></button>
                            </div>
                            <div class="modal-body text-center">
                                <img id="modalImage" src="" alt="Imagen del producto" class="img-fluid modal-img" onclick="toggleZoom()">
                                <div class="image-thumbnails mt-3">
                                    <div class="row">
                                        {% if producto.image1 %}<img src="{{ producto.image1.url }}" alt="Imagen 1" class="img-thumbnail thumbnail-image" onclick="changeMainImage(0)">{% endif %}
                                        {% if producto.image2 %}<img src="{{ producto.image2.url }}" alt="Imagen 2" class="img-thumbnail thumbnail-image" onclick="changeMainImage(1)">{% endif %}
                                        {% if producto.image3 %}<img src="{{ producto.image3.url }}" alt="Imagen 3" class="img-thumbnail thumbnail-image" onclick="changeMainImage(2)">{% endif %}
                                        {% if producto.image4 %}<img src="{{ producto.image4.url }}" alt="Imagen 4" class="img-thumbnail thumbnail-image" onclick="changeMainImage(3)">{% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="prevImage" onclick="changeImageModal(-1)" style="border-radius: 50%; padding: 10px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-chevron-left" style="font-size: 20px;"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" id="nextImage" onclick="changeImageModal(1)" style="border-radius: 50%; padding: 10px; display: flex; align-items: center; justify-content: center;">
                                    <i class="fas fa-chevron-right" style="font-size: 20px;"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .thumbnail-image {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 5px;
        margin: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .modal-dialog {
        max-width: 80%;
        margin: 0 auto;
    }

    .modal-body {
        text-align: center;
    }

    .modal-img {
        width: 100%;
        height: 500px; /* Establecer un tamaño fijo para la imagen en el modal */
        object-fit: contain; /* Mantener la relación de aspecto */
        cursor: zoom-in;
        transition: transform 0.3s ease;
    }

    .modal-img.zoomed {
        transform: scale(1.5);
        cursor: zoom-out;
    }
</style>


<script>
    let images = [
        {% if producto.image1 %}"{{ producto.image1.url }}",{% endif %}
        {% if producto.image2 %}"{{ producto.image2.url }}",{% endif %}
        {% if producto.image3 %}"{{ producto.image3.url }}",{% endif %}
        {% if producto.image4 %}"{{ producto.image4.url }}"{% endif %}
    ];
    
    let currentIndex = 0;

    function openModal(index) {
        currentIndex = index;
        var modalImage = document.getElementById('modalImage');
        modalImage.src = images[currentIndex];
        var myModal = new bootstrap.Modal(document.getElementById('imageModal'));
        myModal.show();
    }

    function changeMainImage(index) {
        currentIndex = index;
        var modalImage = document.getElementById('modalImage');
        modalImage.src = images[currentIndex];
    }

    function changeImageModal(direction) {
        currentIndex += direction;
        if (currentIndex < 0) {
            currentIndex = images.length - 1;
        } else if (currentIndex >= images.length) {
            currentIndex = 0;
        }
        var modalImage = document.getElementById('modalImage');
        modalImage.src = images[currentIndex];
    }

    function toggleZoom() {
        var modalImage = document.getElementById('modalImage');
        modalImage.classList.toggle('zoomed');
    }

    function forceCloseModal() {
        var modals = document.querySelectorAll('.modal.show'); 
        modals.forEach(function (modal) {
            modal.classList.remove('show');
            modal.style.display = 'none';
            document.body.classList.remove('modal-open');
        });
    
        var backdrops = document.querySelectorAll('.modal-backdrop');
        backdrops.forEach(function (backdrop) {
            backdrop.remove();
        });
    }

    function incrementQuantity() {
        var cantidadInput = document.getElementById('cantidad');
        var cantidad = parseInt(cantidadInput.value);
        cantidadInput.value = cantidad + 1;
    }

    function decrementQuantity() {
        var cantidadInput = document.getElementById('cantidad');
        var cantidad = parseInt(cantidadInput.value);
        if (cantidad > 1) {
            cantidadInput.value = cantidad - 1;
        }
    }
</script>

{% endblock %}
