{% extends 'miapp/base_ventas.html' %}
{% load static %}
{% block title %}
    {{ titulo }}
{% endblock %}
{% block content %}
<main role="main" class="d-flex align-items-center justify-content-center min-vh-100">
    <section class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <div class="card">
                        <div class="card-header text-center">
                            <h1 class="card-title">Crear Cliente</h1>
                        </div>
                        <div class="card-body">
                            {% if request.user.is_staff %}
                                {% include 'miapp/includes/miapp_menu_cliente.html' %}
                            {% endif %}
                            <form action="" method="post" enctype='multipart/form-data'>
                                {% csrf_token %}
                                {{ form.as_p }}                
                                <div class="text-center mt-3">
                                    <input type="submit" class="btn btn-primary" value="Crear Cliente" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
