{% extends 'miapp/base_ventas.html' %}
{% load static %}

{% block title %}
    Registrar Turno
{% endblock title %}

{% block content %}
<section class="content">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Registrar Turno para {{ producto.nombre }}</h2>
        <form method="post" action="{% url 'registrar_turno' producto.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Confirmar Turno</button>
        </form>
    </div>
</section>
{% endblock content %}
