{% extends 'miapp/base.html' %}
{% load static %}
{% block title %}
    {{ titulo }}
{% endblock title %}
{% block content %}

<section class="content">
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            <div class="content-wrapper">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header p-2">
                                        <h1 class="card-title">Listado de Turnos Anotados</h1>
                                    </div>
                                    <div class="card-body">
                                       
                                    {% if object_list %}
                                    <!-- Mostrar datos de turnos -->
                                    <h2>Datos de Turnos Anotados</h2>
                                    <table id="datosTurnos" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Cliente</th>
                                                <th>Productos</th>
                                                <th>Duración</th>
                                                <th>Creación</th>
                                                <th>Ultima Actualizacion</th>
                                                <th>Acción</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for object in object_list %}
                                                <tr>
                                                    <td>{{ object.id }}</td>
                                                    <td>{{ object.cliente }}</td>
                                                    <td>
                                                        {% if object.productos.count %}
                                                            {{ object.productos.all|join:", " }}
                                                        {% else %}
                                                            Ninguno
                                                        {% endif %}
                                                    </td>
                                                    <td>{{ object.duracion }}</td>
                                                    <td>{{ object.created }}</td>
                                                    <td>{{ object.updated }}</td>
                                                    <td><a href="#" class="btn btn-sm btn-primary">Editar</a>
                                                    <a href="#" class="btn btn-sm btn-danger">Eliminar</a></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                    <p>No hay datos disponibles.</p>
                                    {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</section>
{% endblock content %}